<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle8iDialect</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="current_session_context_class">thread</property>

        <property name="dialect">org.hibernate.dialect.OracleDialect</property>
 <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

		<!-- Set the current session context -->
		<property name="current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    </session-factory>

</hibernate-configuration>